a {
  text-decoration: none;
  color: black;
}

.topnavbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.topnavbar-middle {
  display: flex;
  gap: 15px;
  font-weight: 500;
}

.active-link {
  border-bottom: 3px solid black;
}

.logo-text {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.topnavbar-middle {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.topnavbar-right {
  display: flex;
  gap: 7.5px;
}

.user-icon,
.cart-icon,
.heart-icon {
  cursor: pointer;
}

.user-name {
  display: flex;
  font-family: "Barlow Condensed", sans-serif;
  flex-direction: column;
  font-size: 0.75rem;
  cursor: pointer;
}

.popup {
  position: absolute;
  top: 50px; /* Adjust based on your layout */
  right: 20px; /* Align with the user section */
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 2rem;
  border-radius: 5px;
  z-index: 1000;
  font-family: "Poppins", sans-serif;
}

.popup button {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.7rem;
}

.popup button:hover {
  text-decoration: underline;
}

.popup-buttons-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
