.gender-page {
  display: flex;
  justify-content: space-between;
}

.left-sidebar {
  position: sticky;
  top: 0; /* Distance from the top */
  height: 100vh;
}

.mobile-filter-div {
  display: none;
}

.no-products-div {
  font-family: "Poppins", sans-serif;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  margin-top: 50px;
}

@media (max-width: 1180px) {
  .gender-page {
    flex-direction: column;
  }
  .left-sidebar {
    display: none;
  }
  .mobile-filter-div {
    display: block;
  }
}
