.cart-container {
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.cart-items-container {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem 2rem;
}

.cart-items {
  width: 100%;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.cart-item-image img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-item-details {
  flex-grow: 1;
  margin-left: 20px;
}

.cart-item-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-heading h3 {
  font-size: 1rem;
  margin: 0;
  color: #333;
}

.cart-item-delete-btn {
  color: #ff4d4f;
  font-size: 0.9rem;
  cursor: pointer;
}

.cart-item-details p {
  font-size: 0.8rem;
  color: #555;
}

.cart-item-price-container {
  margin-top: 10px;
}

.cart-item-price {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
}

.cart-summary {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 450px;
  margin: auto;
}

.cart-summary h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.cart-summary-table-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.cart-summary-table-description {
  color: #777;
  font-size: 0.9rem;
}

.cart-summary-table-value {
  color: #333;
  font-size: 1rem;
  font-weight: bold;
}

.cart-summary-table-item:last-child {
  border-bottom: none;
}

.cart-summary-table-description-total {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.cart-summary-table-value-total {
  font-size: 1.1rem;
  font-weight: bold;
  color: #ff4d4f;
}

.cart-checkout-btn {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.cart-checkout-btn:hover {
  background-color: #e53935;
}

.cart-clear-btn {
  width: 100%;
  padding: 10px;
  background-color: #ff4d4f;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.cart-clear-btn:hover {
  background-color: #e53935;
}

.cart-clear-btn:active {
  background-color: #d32f2f;
}

.cart-empty-message {
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  color: #ff4d4f;
  font-size: 1.2rem;
  text-align: center;
}

.delivery-info {
  font-size: 0.8rem;
  color: #555;
  margin-top: 10px;
}

@media (max-width: 1050px) {
  .cart-items-container {
    flex-direction: column;
  }
}
