.mobile-filter {
  padding: 15px 30px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 5px;
}

.mobile-filter-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color-button {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
  cursor: pointer;
  outline: none;
}
