.sidebar-div {
  min-width: 250px;
  border-radius: 15px;
  border: 1px solid lightgray;
  margin: 50px 20px;
  padding: 15px;
  font-family: "Poppins", sans-serif;
}

.sidebar-top-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.sidebar-categories {
  padding: 1rem 0;
}

.sidebar-category-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-bottom: 3px;
  font-size: 0.75rem;
  text-transform: capitalize;
}

.sidebar-colors {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 1rem 0;
}

.sidebar-headings {
  margin-top: 1rem;
}

.color-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
  cursor: pointer;
  outline: none;
}

.color-button.selected {
  border: 2px solid black; /* Highlight the selected button */
}

.color-tick-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: darkgray;
  font-size: 16px;
}
